name: Tests and Coverage

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: |
          python -m pytest app/test -v

      - name: Run coverage
        run: |
          python -m coverage run -m pytest app/test
          python -m coverage report -m
          python -m coverage html

      - name: Upload htmlcov artifact
        uses: actions/upload-artifact@v4
        with:
          name: htmlcov
          path: htmlcov
